{% extends 'nucleo/base.html' %}

{% block title %}Página Inicial - NerdHub{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_index.css' %}">

    <!-- BANNER PRINCIPAL -->
    <section class="banner">
        <img src="{% static 'img/banner.png' %}" alt="Banner Promocional">
    </section>

    <!-- GATILHOS -->
    <section class="beneficios">
        <div class="beneficio-item">
            <img src="{% static 'img/icon_cartao.png' %}" alt="icon_cartao">
            <p>Em até 12x sem juros</p>
        </div>

        <div class="beneficio-item">
            <img src="{% static 'img/icon_carro_entrega.png' %}" alt="icon_carro_entrega">
            <p>Entrega rápida</p>
        </div>

        <div class="beneficio-item">
            <img src="{% static 'img/icon_caixa.png' %}" alt="icon_caixa">
            <p>Frete grátis</p>
        </div>

        <div class="beneficio-item">
            <img src="{% static 'img/icon_pix.png' %}" alt="icon_pix">
            <p>Selecione o Pix e ganhe 5% de desconto</p>
        </div>

    </section>

    <!-- MARCAS FAMOSAS -->
    <section class="marcas-section">
        <h2>Navegue por Marcas Famosas</h2>
        <div class="brand-buttons">
            <button class="brand-img-button">
                <a href="{% url 'nucleo:produtos_por_marca' 'Disney' %}">
                    <img src="{% static 'img/BannerDisney.png' %}" alt="Disney">
                </a>
            </button>
            
            <button class="brand-img-button">
                <a href="{% url 'nucleo:produtos_por_marca' 'Marvel' %}">
                    <img src="{% static 'img/BannerMarvel.png' %}" alt="Marvel">
                </a>
            </button>

            <button class="brand-img-button">
                <a href="{% url 'nucleo:produtos_por_marca' 'Star Wars' %}">
                    <img src="{% static 'img/BannerStarWars.png' %}" alt="Star Wars">
                </a>
            </button>

            <button class="brand-img-button">
                <a href="{% url 'nucleo:produtos_por_marca' 'PlayStation' %}">
                    <img src="{% static 'img/BannerPlayStation.png' %}" alt="PlayStation">
                </a>
            </button>

            <button class="brand-img-button">
                <a href="{% url 'nucleo:produtos_por_marca' 'Xbox' %}">
                    <img src="{% static 'img/BannerXbox.png' %}" alt="Xbox">
                </a>
            </button>
        </div>
    </section>

    <!-- FUNKOS DO MÊS -->
    <section class="funkos ">
        <h2>Funkos do Mês</h2>
        <div class="funko-grid">
            {% for produto in produtos %}
            <div class="funko-item">
                <img src="{{ produto.imagem_principal.url }}" alt="{{ produto.nome }}" class="funko-img">
                <h3>{{ produto.nome }}</h3>
                <p class="price">R$ {{ produto.preco }}</p>
                <p>Em até 12x sem juros</p>
                <a href="{% url 'nucleo:detalhe_produto' produto.id %}" class="btn">Ver Produto</a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}