{% extends 'nucleo/base.html' %}

{% block title %}Página Inicial - NerdHub{% endblock %}

{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/conta_style.css' %}">

<body>
    
        


        <div class="right">


            <form action="{% url 'usuario:cadastro' %}" method="post" class="login-box"> {% csrf_token %}

                <h2>Tela de cadastro</h2>
                <input type="text" placeholder="Usuário*" name="username">
                <input type="email" placeholder="Endereço de e-mail*" name="email">
                <input type="password" placeholder="senha*" name="senha">
                <button class="continue-btn">Continuar</button>
                <p class="register-text">
                Já tem uma conta? <a href="{% url 'usuario:conta' %}">Logar</a>
                </p>



            </form>
        </div>
    </main>
</body>

{% endblock %}