{% extends 'nucleo/base.html' %}

{% block title %}Página Inicial - NerdHub{% endblock %}

{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerd Hub - Login</title>
    <link rel="stylesheet" href="{% static 'css/style_conta.css' %}">
</head>

<body>

    <main class="container">
        <div class="left">
            <img src="{% static 'img/nerdhub-logo.png' %}" alt="NerdHub Logo" class="logo">
            <h2>NERD HUB</h2>
        </div>

        <div class="right">

            <form class="login-box" method="post" action="{% url 'usuario:cadastro' %}"> {% csrf_token %}
                <h2>Seja bem vindo!</h2>
                <input type="text" placeholder="Usuário*" name="username">
                <input type="email" placeholder="email*" name="email">
                <input type="password" placeholder="Senha*" name="senha">
                <button class="continue-btn">Continuar</button>

                <p class="register-text">
                    Já tem uma conta? <a href="{% url 'usuario:conta'%}">Cadastrar</a>
                </p>

                


            </form>
        </div>
    </main>
</body>

</html>


{% endblock %}